html {
    scroll-behavior: smooth;
}
:root{
    --DarkCyan:#0B262A;
    --Cyan:#0E3335;
    --LightCyan:#148A88;
}
.header{
    background-color:#542409;
    height:300px;
}
.hero_image{
    width:100%;
    height:100%;
    object-fit: cover;
}
.image_container{
    width:100%;
    height:380px;
    z-index:1;
    /* background:linear-gradient(120deg,rgba(163, 163, 163, 0.4),rgba(0,0,0,0.4)); */
    background-color:rgba(22, 22, 22, 0.4);
    background-image: url("../images/activite/hero.jpeg");
    background-size:cover;
    background-blend-mode: darken;
    background-position: center center;

}
.hero_text{
    position:absolute;
    margin:-17vw auto 0 23vw;
}
.wide_font{
    font-size:60px;
}
.white{
    color:white;
}
.container_card{
    display:flex;
    z-index:3;
    justify-content:space-around;
    /* position:absolute; */
}
.container_card h3{
    color:white;
    font-weight: medium;
}
.container_card a{
    text-decoration: none;
    color:black;
}
.page_card{
    width:300px;
    height:250px;
    margin-top:-50px;
    border-radius:5px;
    box-shadow: 15px 15px 9px 5px;
    border:1px solid black;
    background-color: #542409;
    display:flex;
    z-index:3;
    padding:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:3;
    transition:transform 0.5s, box-shadow 1s;
}
.page_card:hover{
   transform:scale(1.1);
   box-shadow:0 0 20px 10px black;
}

.page_card svg{
    width:35px;
    margin:10px 0 10px 0;
}
.page_card img{
    object-fit: cover;
    width:200px;
    height:130px;
    border-radius:10px;
}
.gradient{
    background:linear-gradient(30deg,#148A88 0%,#0B262A 100%);
    padding:1.5vw 0 1.5vw 0 ;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.activite{
    background-color:var(--Cyan);
    height:69vw;
}
.container_activity{
    display:flex;
    flex-direction: column;
    padding:4vw;

}
.contain1,.contain2{
   padding:15px;
   display:flex;
   justify-content: space-around;
   overflow:hidden;
}
.activity{
    width:28%;
    height:250px;
    padding:10px 10px 5px 10px;
    border:1px solid black;
    display:flex;
    flex-direction:column ;
    align-items:center;
    justify-content:center;
    color:white;
    background-color: #0B262A;
}
.activity p{
    font-size:14px;
    text-align: center;
    width:80%;
    margin-top:10px;
}
#pop{
    font-size:11px;
    width:60%;
    color:black;
    background-color: white;
    margin-top:10px;
    text-align:center ;
    border-radius:50px;
    transition:background-color 0.3s;
    font-weight:bolder;
    padding:3px;
}

#pop:hover{
    background-color:#148A88;
    cursor: pointer;
}
.activity a{
    text-decoration: none;
    color:rgb(34, 34, 34);
    /* border:1px solid black; */
    text-align: center;

}
.activity img{
   width:300px;
   height:130px;
   object-fit: cover;
   object-position: center center
}
.other{
    font-size:30px;
    font-weight:600;
    text-align:center;
}
.event{
    background-color: #0E3335;
    height:105vw;
}
.EventRealise{
    width:60%;
    margin: 50px auto 50px auto;
    height:50vw;
    display:grid;
    gap:30px;
    grid-template-columns: reapeat(3,100px);
    grid-template-rows: repeat(3,200px);
    grid-template-areas: "item1 item2 item2"
                         "item1 item3 item3"
                         "item4 item4 item4";
}

.item1{
   background: url("../images/activite/volley.jpeg");
   grid-area: item1;
   border-radius: 10px;
   background-size:cover;

}
.item2{
  background: url("../images/activite/cook.jpeg");
  grid-area:item2;
  border-radius: 10px;
  background-size:cover;
}
.item3{
  background:url("../images/activite/paintball.jpeg");
  grid-area:item3;
  border-radius: 10px;
  background-size:cover;
}
.item4{
  background: url("../images/activite/festival.jpeg");
  grid-area:item4;
  object-fit: cover;
  border-radius: 10px;
  background-size:cover;
}
.loadTitle{
     font-size:40px;
     text-align: center;
}
.loading{
    width:65%;
    margin:3.5vw auto 3.5vw auto;
    height:160px;
    border-radius:10px;
    background: blue;

}
.event_container{
    font-size:60px;
}
.event_container span{
    font-size:2em;
    margin-top: -2vw;
}
.event1:hover .first_dot{
    animation: bounce 1.5s ease-in 0.5s infinite;
}
.event1:hover .second_dot{
    animation: bounce 1.5s ease-in 0.8s infinite;
}
.event1:hover .third_dot{
    animation: bounce 1.5s ease-in 1.1s infinite;
}
.event2:hover .first_dot{
    animation: bounce 1.5s ease-in 0.5s infinite;
}
.event2:hover .second_dot{
    animation: bounce 1.5s ease-in 0.8s infinite;
}
.event2:hover .third_dot{
    animation: bounce 1.5s ease-in 1.1s infinite;
}
.event1{
   background-image: url("../images/activite/pool.jpeg");
   background-size:cover;
   display:flex;
   justify-content: center;
   align-items: center;
   color:transparent;
   transition:color 0.5s;
}
.event2{
   background-image:url("../images/activite/festivent.jpeg");
   background-size: cover;
   display:flex;
   justify-content: center;
   align-items: center;
   color:transparent;
   transition:color 0.5s;
}
.event1:hover, .event2:hover{
    color:white;
    background-color:rgba(0,0,0,0.85);
    background-blend-mode: darken;
    cursor:pointer;
    user-select: none;
}
.actu{
    background-color:#242424;
    height: 50vw;
    padding:3vw;
    cursor:pointer;
    /* display:flex;
    flex-direction: column;
    gap:10vw;
    justify-content: center; */
    user-select:none;
}
.actuTitle{
    text-align:center;
    font-size:50px;
    cursor: default;
}
.carousel{
    display: flex;
    align-items: center;
}
.swiper{
    box-sizing:border-box;
    margin-top:-50px;
    width:80%;
    height:auto;
    margin:auto;
    display: flex;
    justify-content: center;
    padding:50px;
    align-items: center;
    /* background-color: #542409; */
}
.swiper-wrapper{
    padding:50px;
    display:flex;
    width:100%;
    transition-timing-function: ease-in-out
}
.swiper-slide{
    width:400px;
    padding:20px;
    border-radius:3px;
    background-color: white;
    height:360px;
    border:1px solid black;
}
.news_field{
    padding:10px;
    background-color:#E0E0E0;
    position:absolute;
    width:87%;
}
.news_field a{
    margin-left:75%;
}
.swiper-slide p{
    font-size:14px;
    /* background-color: #E0E0E0; */
}
.swiper-slide div h3{
    text-align:center;
}
.swiper-slide div a{
    font-size:12px;
    text-decoration:none;
    width:100%;
    color:blue;
    transform:translateX(50%);
    /* background-color: #E0E0E0; */
}
.swiper-slide img{
    width:100%;
    height:200px;
    border-radius:2px;
    object-fit:cover;
    object-position: center center;
}
.blury{
    width:10%;
    height:30vw;
    background-color:#161616;
    box-shadow: 0 0 30px 50px #161616;
    filter:blur(28px);
}

@keyframes bounce{
    0%{
        margin-top: -2vw;
    }
    50%{
        margin-top: -3.5vw;
    }
    100%{
        margin-top: -2vw;
    }
}
*{
    font-family: poppins;
    margin:0;
    padding:0;
}
body::before{
    opacity:0;
    transition:opacity 0.3s ease-in-out;
}
body.overlay::before{
    content:"";
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    position:fixed;
    backdrop-filter: blur(3px);
    opacity:1;
    z-index:500;
    transition:opacity 0.3s ease-in-out;
}
.pop-up{
    background-color: #D5891B;
    position:fixed;
    padding:20px 0 30px 50px;
    border-radius:3px;
    color:white;
    width:75%;
    visibility:hidden;
    gap:30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:2.5vw;
    opacity:0;
    margin-left:12%;
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index:999;
}
.pop-up.active{
    display:flex;
    visibility: visible;
    opacity:1;
    transform:scale(1);
}
.return{
    width:30px;
    z-index:9999;
    position:fixed;
    top:4vw;
    left:15%;
    height:30px;
    background-color: #148A88;
    padding:5px;
    visibility: hidden;
    border-radius:50%;
    opacity:0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform:scale(0.8);
    transition:background-color,color 0.4s;
    transition: opacity 0.3s ease-in-out;
}
.return.active-exit{
   background-color: #148A88;
   color:black;
   transition: background-color,color 0.3s ease-in-out;
   visibility: visible;
   opacity:1;
   transform:scale(1);
}
.return.active-exit:hover{
    background-color: #0B282A;
    color:white;
    transition:opacity 0.3s ease;
}
.pop-info{
    display:flex;
    gap:30px;
}
.pop-info img{
    width:400px;
    height:500px;
    object-fit: cover;
    border-radius:2px;
    object-position:center center ;
}
.concept{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.concept div{
    background-color: #0B282A;
    padding:20px;
    width:80%;
    height:180px;
    font-size:17px;
    border-radius:3px;
}
